include ../../../../templates/admin

block main

    section#main-content
      section.wrapper.site-min-height
        .row.mt
          .col-md-12
            .content-panel
              table.table.table-striped.table-advance.table-hover
                h4
                  | Facility Rates
                  button.btn.btn-theme(style='margin-left: 5px;', type='button', data-toggle='modal', data-target='#facility')
                    i.fa.fa-plus
                    |  Add Facility
                thead
                  tr
                    th
                      i.fa.fa-bookmark
                      |  ID
                    th
                      i.fa.fa-dumbbell
                      |  Facility Name
                    th
                      i.fa.fa-coins
                      |  Price (₱)
                    th
                    th
                      i.fa.fa-clock
                      |  Usage Duration
                    th
                      i.fa.fa-edit
                      |  Action
                tbody
                  tr
                    td  1
                    td Threadmill
                    td 5
                    td /
                    td 5 min
                    td
                      button#edit.btn.btn-success.btn-xs(data-toggle='popover', data-trigger='hover', data-placement='top', data-content='Edit Account')
                        i.fa.fa-edit
                      button.btn.btn-danger.btn-xs(data-toggle='popover', data-trigger='hover', data-placement='top', data-content='Remove Account Permanently')
                        i.fa.fa-trash-alt
            // /content-panel
