include ../../../../templates/admin

block main

    section#main-content
      section.wrapper.site-min-height
        .row.mt
          .col-md-12
            .content-panel
              table.table.table-striped.table-advance.table-hover
                h4
                  | General Fee
                  button.btn.btn-theme(style='margin-left: 5px;', type='button', data-toggle='modal', data-target='#add')
                    i.fa.fa-plus
                    |  Add Fee
                thead
                  tr
                    th
                      i.fa.fa-bookmark
                      |  ID
                    th
                      i.fa.fa-dumbbell
                      |  Name
                    th
                      i.fa.fa-coins
                      |  Price (₱)
                    th
                    th
                      i.fa.fa-clock
                      |  Usage Duration
                    th
                      i.fa.fa-edit
                      |  Action
                tbody
                  tr
                    td  1
                    td Training Session
                    td 200
                    td /
                    td 1
                    td
                      button.btn.btn-success.btn-xs.tooltips(data-toggle='modal', data-target='#edit-modal', data-placement='top', data-original-title='Edit')
                        i.fa.fa-edit
                      button.btn.btn-danger.btn-xs.tooltips(data-placement='top', data-original-title='Delete')
                        i.fa.fa-trash-alt
            // /content-panel
