include ../../../../templates/admin

block main

    section#main-content
      section.wrapper.site-min-height
        .row.mt
          .col-md-12
            .content-panel
              table.table.table-striped.table-advance.table-hover
                h4
                  | Membership Rates
                  button.btn.btn-theme(style='margin-left: 5px;', type='button', data-toggle='modal', data-target='#add')
                    i.fa.fa-plus
                    |  Add Membership
                thead
                  tr
                    th
                      i.fa.fa-bookmark
                      |  ID
                    th
                      i.fa.fa-credit-card
                      |  Name
                    th
                      i.fa.fa-home
                      |  Category
                    th
                      i.fa.fa-calendar-alt
                      |  Period (Days)
                    th
                      i.fa.fa-coins
                      |  Amount
                    th
                      i.fa.fa-edit
                      |  Action
                tbody
                  tr
                    td  1
                    td Gold
                    td Interbranch
                    td 365
                    td 8999
                    td
                      button#edit.btn.btn-success.btn-xs(data-toggle='popover', data-trigger='hover', data-placement='top', data-content='Edit Account')
                        i.fa.fa-edit
                      button.btn.btn-danger.btn-xs(data-toggle='popover', data-trigger='hover', data-placement='top', data-content='Remove Account Permanently')
                        i.fa.fa-trash-alt
            // /content-panel
